daily*.csv
*.grib
*.cpg
*.dbf
*.prj
*.shp
*.shx
*.ascii
*.gdb
*.gdtable
*.spx
Watersheds_natural_BC.gpkg
*.png
*.svg
*streamDataNaturalRecent20yr.rds
*LicensedUse.gpkg
*UnlicensedWellsUse.gpkg
/5.oldCodes
/6.ClimateChangeProjections
