daily*.csv
*.grib
*.cpg
*.dbf
*.prj
*.shp
*.shx
*.ascii
*.gdb
*.gdtable
*.spx
Watersheds_natural_BC.gpkg
*.png
*.svg
*streamDataNaturalRecent20yr.rds
*LicensedUse.gpkg
*UnlicensedWellsUse.gpkg
/5.oldCodes
/6.ClimateChangeProjections
2.data/2.working/GlacierRasters/glacier1984.gpkg
2.data/2.working/GlacierRasters/glacier2009.gpkg
/2.data/2.working/GlacierRasters
2.data/2.working/WeatherDataPWNAmet/dataDaily.RDS
